@import "variables";

.sale{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background;
  max-height: 604px;
  overflow: hidden;
  &-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #FFFFFF;
    width: 325px;
    height: 219px;
    &__title{
      font-weight: 700;
      font-size: 48px;
    }
    &__text{
      font-size: 14px;
      line-height: 20px;
    }
    &__button{
      color: #FFFFFF;
      width: 170px;
      height: 40px;
      background: $background;
      border: 2px solid #FFFFFF;
      border-radius: 40px;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
  &-chair__container{
    .first-circle{
      position: relative;
      width: 859px;
      height: 859px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 500px;
      .second-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 677px;
        height: 677px;
        background: rgba(255, 255, 255, 0.4);
        border-radius: 500px;
        .chair-image{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 584px;
        }
      }
    }
  }
}

.goods{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 954px;
  background-color: $second-background;
  .special-offers{
    &__container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      width: 1110px;
    }
    &__view{
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-top: 70px;
      justify-content: space-between;
    }
    &__title{
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      color: #000000;
    }
    &__logo{
      margin-bottom: 16.45px;
      margin-right: 45.33px;
    }
    &__goods{
      display: flex;
      flex-wrap: wrap;
      gap: 30px
    }
    &__item{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 25px;
      width: 255px;
      height: 343px;
      background-color: #FFFFFF;

      &-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .item-button{
        width: 130px;
        height: 35px;
        background-color: $background;
        border: none;
        border-radius: 30px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        font-size: 14px;
      }
      .item-price{
        color: #000000;
        font-size: 21px;
        font-weight: bold;
      }
      .item-image{
        width: 125px;
        height: 166px;
      }
      .item-description{
        width: 170px;
        font-size: 14px;
        color: #333333;
      }
    }
  }
  .special-offers__container{
    color: #FFFFFF;
    .additional-info__container{
      display: flex;
      margin-top: 100px;
      gap: 30px;
      .subscribe{
        &__container{
          display: flex;
          width: 495px;
          padding-right: 45px;
          background-color: $background;
        }
        &__info{
          padding: 35px 40px;
          display: flex;
          flex-direction: column;
          gap: 25px
        }
        &__logo{
        }
        &__title{
          font-weight: 700;
          font-size: 18px;
        }
        &__text{
          width: 231px;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
        &__input{
          width: 225px;
          height: 35px;
          background: #FFFFFF;
          border-radius: 30px;
          border: none;

        }
      }
      .shops{
        &__container{
          background-color: $background;
        }
        &__content{
          display: flex;
          padding: 35px 330px 35px 40px;
          flex-direction: column;
          gap: 25px;
        }
        &__title{
          font-weight: 700;
          font-size: 18px;
        }
        &__text{
          width: 141px;
          height: 40px;
          font-size: 14px;
          line-height: 20px;
        }
        &__button{
          width: 170px;
          height: 35px;
          font-size: 14px;
          border: 2px solid #FFFFFF;
          border-radius: 30px;
          background: $background;
          color: #FFFFFF;
        }
      }
    }
  }
}

input::-webkit-input-placeholder{
  color:  #C4C4C4;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding: 9px 25px;
}

@media screen and (max-width: 1035px){
  .second-line{
    flex-direction: row;
  }
  .sale{
    flex-wrap: wrap;
    min-height: 1000px;
  }
  .goods{
    height: auto;
    margin-bottom: 40px;
  }
  .special-offers__goods{
    justify-content: center;
    width: 100vw;
  }
  .additional-info__container{
    justify-content: center;
    flex-wrap: wrap;
    .subscribe__container{

    }
  }
  .special-offers__view{
    justify-content: center !important;
  }
}
@media screen and (max-width: 560px) {
  .shops__title{
    width: 100px;
  }
  .subscribe__container{
    width: 320px !important;
    .subscribe-logo{
      display: none;
    }
  }
  .shops__container{
    width: 365px !important;
  }
  .first-circle{

    width: 420px !important;
    height: 420px !important;
    .second-circle{
      width: 310px !important;
      height: 310px !important;
      .chair-image{
        width: 240px !important;
      }
    }
  }
}